*:not(.container) { 
    outline: 1px dotted hsl(0, 0%, 0%); 
    border-radius: 20px;
}

.container{
    background-color: darkblue;
    min-height: 650px;
    padding: 10px;
    
    
}    
.header{
    background-color: red;
    min-height: 70px;
    font-weight: bold;
    color: white;
    font-size: 40px;
    padding: 20px 0px 0px 20px;
}
.nav{
    background-color: rgb(49, 138, 138);
    min-height: 200px;
    width: 180px;
    padding: 20px;
    margin-top: 20px;
    display: inline-block;
    color: rgb(132, 247, 235);
    text-decoration: underline;
    font-size: 15px;

}
ul{
    margin: 0px;
    padding-left: 20px;
}
.main{
    background-color: rgba(26, 26, 26, 0.692);
    min-height: 450px;
    width: 1100px;
    display: inline-block;
    color: white;
    vertical-align: top;
    margin: 20px 0px 20px 20px;
    padding: 20px;
    
}
h1{
    Margin: 5px 0px;
}
.main li{
    margin: 10px 0px 10px;

}
li span{
    color: rgb(126, 28, 255);
}
span.bold{
    color: rgb(42, 224, 224);
    text-decoration: underline;
}

.footer{
    min-height: 45px;
    background-color: grey;
    color: white;
    padding: 10px;
}

